/*공통으로 사용하는 레이아웃시 여기다 넣기 */
.container {
    padding: 5px 10px;
    max-width: 900px;
    margin: 10px auto;
}

.container-gnb {
    padding: 5px 5px;
    max-width: 900px;
    margin: 20px auto;
}

/* ---//  menu    */
.logo_img {
    width:66px;height:66px;display:inline;
    float:left;
}

.pc_header_gnb {
    background-color: #eef;
    height:66px;
    margin: 0 0 10px 0;
    vertical-align: middle;
    font-size: 1.5em;
}

.pc_header_gnb ul {
    display: inline-block;
    width:100%;
    /*

    border:1px solid red; */
}

.pc_header_gnb ul li {
    display:inline-block;
    list-style:none;
    float:left;
    line-height: 30px;
    width:15%;
    padding-top: 15px;
    vertical-align:middle;
    text-align: center;
}
.pc_header_gnb div{
    display: inline-block;
    width:90%;
    height: 66px;
    padding-bottom:25px;
    margin:0;
}

/*  ---// menu    */

/* --- footer -- */
.footer {
    margin-top: 3em;
    color: #757575;
}
/* //--- footer -- */


.box_800 {
  display:block;
  /* width: 850px; */
  min-height:100px;
  /*margin: 0 0 15px 0;*/
  padding: 25px;
  border: 0.5px solid rgb(175, 170, 174);
  border-radius: .5em;
}
