/*공통으로 사용하는 레이아웃시 여기다 넣기 */
.container {
    padding: 5px 10px;
    max-width: 900px;
    margin: 10px auto;
}

.container-gnb {
    padding: 5px 5px;
    max-width: 900px;
    margin: 20px auto;
}

/* ---//  menu    */
.logo_img {
    width:66px;height:66px;display:inline;
    float:left;
}

.pc_header_gnb {
    background-color: #eef;
    height:66px;
    margin: 0 0 10px 0;
    vertical-align: middle;
}

.pc_header_gnb ul {
    /*
    width:70%;
    border:1px solid red; */
}

.pc_header_gnb ul li {
    display:inline-block;
    list-style:none;
    float:left;
    line-height: 30px;
    width:15%;
    padding-top: 15px;
    vertical-align:middle;
    text-align: center;
}
/*  ---// menu    */

/* --- footer -- */
.footer {
    margin-top: 3em;
    color: #757575;
}
/* //--- footer -- */
